/* src/App.css */

/* Basic reset and font */
body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Ensure no default background on body if BackgroundImage component is used */
  background: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Tailwind CSS Directives (You might not need these if you're using the CDN) */
/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/